.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.canvasWrapper {
  margin: 60px 40px 60px 90px
}


